<!-- (ngSubmit)="onEdit()" -->
<form #shopForm = 'ngForm' *ngIf="!submitted" novalidate>
  <h2>Edit Shop</h2>
  <div class="form-group">
    <label for="shopName">Name:</label>
    <input [(ngModel)] = "shop.name" name = 'shopName' type="text" class = "form-control"
              required #shopName = "ngModel" [class.is-invalid] = "shopName.invalid && shopName.touched">
  </div>

  <div class="form-group">
    <label for="category">Category:</label>
    <input [(ngModel)] = "shop.category" name = 'category' class = "form-control"
                        required #category = 'ngModel' [class.is-invalid] = 'category.invalid && category.touched'>
  </div>
  <div class="form-group">
    <label for="established">Founded on:</label>
    <input [(ngModel)] = "shop.established" name = 'established' class = "form-control"
                        required #established = 'ngModel' [class.is-invalid] = 'established.invalid && established.touched'>
  </div>
  <button class="btn btn-primary" (click)="editShop()">Save</button>
</form>
