<h1>Shops Dashboard</h1>
<nav class="navbar">
  <input type="text" class="form-control" name="shopName" #searchKey (keyup) = "onEnter(searchKey.value)" [(ngModel)] = "shopName" (ngModelChange) = "search()"
  placeholder="Enter name of a shop to search">
</nav>
<table class="table table-active">
  <thead>
    <!-- (click)="sort('Name')">Name&nbsp;<i class="fa fa-sort"></i> -->
    <th>Name</th>
    <th>Category</th>
    <th>Founded</th>
    <th>Authorities</th>
  </thead>
  <tbody>
    <tr *ngFor="let shop of shops | paginate : {itemsPerPage: 3, currentPage: page};">
      <td>{{shop.name | takeFirstletters}}: {{shop.name}}</td>
      <td>{{shop.category}}</td>
      <td>{{shop.established}}</td>
      <!-- <td><button (click)="deleteShop(shop._idname)">Delete</button> -->
      <td>
        <button [routerLink]="['delete', shop._id]">Delete</button>
        <button [routerLink]="['edit', shop._id]">Edit</button>
        <button [routerLink]="['view', shop._id]">View</button></td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange) = "page = $event"></pagination-controls>
